

/* Global */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  color: white;
  background-color: rgb(15, 15, 14);
}


input {
  font-family: Arial, sans-serif;
  padding: 0.5em 0.8em;
  border: 3px solid #370617;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #faa307;
  border: none;
  border-radius: 5px;
  padding: 0 4px;
  margin: 0;
  color: white;
  cursor: pointer;
  transition: background-color 200ms ease;
}

button:hover {
  background-color: #bbffee;
}

button:active {
  background-color: #bbffee;
}

h1 {
  padding-bottom: 25px;
  text-align: center;
  font-size: 26px;
}

ul {
  list-style: none;
}

.icon {
  font-family: 'Material Icons', Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

/* Main */
.main-container {
  margin: auto;
  margin-top: 50px;
  background-color: rgb(58, 55, 55);
  width: 600px;
  padding: 10px;
}

.main-container:hover{
background-color: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;

}
header {
  margin: auto;
}

.main {
  margin: auto;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.container {
  display: flex;
  flex-direction: column;
}

.recent-scores-container-wrapper {
  width: 100%;
  max-width: 300px;
}

.recent {
  display: flex;
  justify-content: space-between;
}

.scores {
  border: 3px solid #370617;

  }

.scores li{
display: flex;
    padding: 0.5em 0.8em;
}

.scores li:first-child{
 min-width: 25px;
}

.scores li:nth-child(2){
 flex: 1;
}

.scores li:nth-child(even){
 background-color: #d00000;
}



.nav-container {
  margin: auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  width: 85%;

}
.nav-container a {
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: color 200ms ease;
  }

.nav-container a:hover{
    color: #bbffee;
  }
.nav-container a:active{
    color: #bbffee;
  }
.nav-container span{
   font-size: 30px;
  }


.table-title {
  padding-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form button {
    align-self: flex-end;
  }

.button {
  padding: 7px 15px;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .main-container {
    padding: 30px;
  }

  .nav-container {
    width: 60%;
  }
}